<div class="home-wrapper">
                     
    <div class="home-nav-wrapper">
            {% assign counter = 0 %}
            {% assign sortedNotes = site.notes | sort: 'order' %}
            {% for post in sortedNotes %}
                    {% if post.title != "Collections" and post.format == "list" %}
                            {% assign counter = counter | plus: 1 %}
                            {% assign formattedCounter = counter | prepend: "0" | prepend: "0" | prepend: "0" %}
                            <a class="home-nav-item " href="{{ post.url }}">
                                    <div class="home-colln-title arrow-link">
                                            <span class="text"> {{ post.title }}</span>
                                            <span class="arrow">&rarr;</span>
                                    </div>
                            </a>
                    {% endif %}
            {% endfor %}
    </div>
</div>
