{%- if page.permalink == "/" -%}

{% assign note_items = site.notes | sort: "date" | reverse %}
{% for note_items in note_items %}
{%- if note_items.notetype == "working" -%}
<div class="feed-title-excerpt-block disable-select" data-url="{{site.url}}{{note_items.url}}">
    <a href="{{note_items.url}}" style="text-decoration: none; color: #333333;">
        <p class="feed-title">{{ note_items.title }}</p>
        <p class="feed-excerpt">{{ note_items.content | strip_html | strip | remove: "[[" | remove: "]]" | escape | truncate: 200 }}</p>
    </a>
</div>
{%- endif -%}
{%- endfor -%}
{%- endif -%}