<div class="column is-4">
    <div class="block homeblock">
        <h1 style="color:var(--link);">I'm Hiran Venugopalan</h1>
        <h3>— a designer building brands, strategies, typefaces, and product experiences. </h3>
        </br>

        <h1><a href="https://hiran.substack.com/" target="_blank">Newsletter</a></h1>
            <p style="margin: 0;">Every two weeks, I send a micro-note newsletter that curates exciting things. More like a personal-deli.cio.us Do check out! </p>
        </br>   
        <h1><a href="https://hiran.in/notes" target="_blank">Working Notes</a></h1>
        <p style="margin: 0;">A collection of knowledge notes cultivated over time, waiting to be evergreen! Notes are ever-evolving, Digital Garden! </p>
        </br>   
        <h1><a href="https://hiran.in/notes/reading" target="_blank">Reading List</a></h1>
        <p style="margin: 0;">An ever-growing list of books I read and loved (contain to-read too). No reviews or summary, just a list for now! </p>
        </br>   
        <h1><a href="mailto: hiran.v+web@gmail.com" target="_blank">Contact</a></h1>
        <p style="margin: 0;">I love ideating and facilitating design thinking workshops. Also, I do mentor designers (via <a href="https://adplist.org/mentors/hiran-venugopalan" target="_blank">ADPList</a>) and design teams. If you'd be interested,
             <a href = "mailto: hiran.v+in@gmail.com">let's talk!</a> </p>
    </div>
</div>